/.idea
/.DS_Store
/target/
/bin/
/target/classes/
/.settings
/.classpath
/.project
/.factorypath
/dependency-reduced-pom.xml
/.gitignore.swp
src/main/resources/application.properties

src/.DS_Store
src/main/.DS_Store
